img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}

body {
  background-color: rgb(226, 242, 219);
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  display: inline;
  margin-right: 20px;
}